# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master, devel]
  pull_request:
    branches: [main, master, devel]

name: R-CMD-check-system.yaml

permissions: read-all

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,  r: 'release', nlopt: '2.7.0' }
          - {os: ubuntu-latest,  r: 'release', nlopt: '2.7.1' }
          - {os: ubuntu-latest,  r: 'release', nlopt: '2.8.0' }
          - {os: ubuntu-latest,  r: 'release', nlopt: '2.9.0' }
          - {os: ubuntu-latest,  r: 'release', nlopt: '2.9.1' }
          - {os: ubuntu-latest,  r: 'release', nlopt: '2.10.0'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - uses: jwlawson/actions-setup-cmake@v2.0.2
        with:
          cmake-version: '3.22.x'

      - name: Install nlopt
        run: |
          curl -OLs https://github.com/stevengj/nlopt/archive/refs/tags/v${{ matrix.config.nlopt }}.tar.gz
          chmod 0755 v${{ matrix.config.nlopt }}.tar.gz
          tar xzvf v${{ matrix.config.nlopt }}.tar.gz
          chmod 0755 nlopt-${{ matrix.config.nlopt }}
          cd nlopt-${{ matrix.config.nlopt }}
          cmake . && make && sudo make install

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          build_args: 'c("--no-manual","--compact-vignettes=gs+qpdf")'
